@media screen and (max-width: 632px){
    #ptop{
        height: 75px;
        display: flex;
        padding: 0px;
        align-items: center;
        justify-content: center;
    }
    .elem h2{
        font-weight:100;
    }
    .box{
        font-size: 25px;
        font-weight: 400;
        padding: 8px 14px;
    }
    .bubble{
        width: 40px;
        height: 40px;   
        font-size: 1.2rem;
        font-weight: 900;
    }
    h1{
        font-size: 3.9rem;   
    }
    #panel{
        overflow: hidden;
        width: 90%;
        height: 90%;
    }
}
@media screen and (max-width: 455px){
    h1{
        font-size: 2.9rem;   
    }
    #ptop{
        height: 70px;
        display: flex;
        padding: 0px;        
        align-items: center;
        justify-content: center;
    }
    .box{
        font-size: 20px;
        font-weight: 500;
        padding: 8px 8px;
    }
    .bubble{
        width: 35px;
        height: 35px;   
        font-size: 1.5rem;
        font-weight: 900;
    }
    #panel{
        overflow: hidden;
        width: 90%;
        height: 90%;
    }
}
@media screen and (max-width: 382px){
    h1{
        font-size: 2.8rem;   
    }
    #ptop{
        height: 75px;
    }
    .box{
        font-size: 20px;
        font-weight: 500;
        padding: 5px 12px;
    }
    .bubble{
        width: 35px;
        height: 35px;   
        font-size: 1.5rem;
        font-weight: 900;
    }
    .elem{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2px 10px;
    }
    .elem h2{
        font-weight:100;
        font-size: 25px;
        padding-left: 12px;
    }
    #panel{
        overflow: hidden;
        width: 94%;
        height: 100%;
    }
    #main{
        height: 100vh;
        width: 100vw;    
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
